body {
    font-family: 'Playfair Display', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    background-color: rgba(86, 73, 76, 1); 
}

.main-image {
    background-image: url(https://images.unsplash.com/photo-1588195538326-c5b1e9f80a1b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1500&q=80);
    background-size: cover;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.3);
}

.top-nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: transparent;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.home-nav-link {
    font-size: 2rem;
}

.top-nav a {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.home-nav {
    display: flex;
}

.middle-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
}

.right-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    font-size: 1.5rem;
}

.shopping-cart-quantity {
    font-size: 1rem;
    font-family: arial;
}

.underlined-heading {
    border-bottom: 1px solid white;
    padding-bottom: 4px;
}

.cake-description {
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15%;
    font-size: 3.5rem;
}

.main-description-first-line, .main-description-second-line {
    text-align: center;
    margin: 0;
}

.order-now-button, .add-to-cart-button {
    border: none;
    font-size: 20px;
    font-family: 'Playfair Display', sans-serif;
    color: white;
    background-color: rgba(153, 136, 136, 0.9);
    cursor: pointer;
    width: 12rem;
    height: 4rem;
    transition-duration: 0.1s;
}
  
.order-now-button:hover, .add-to-cart-button:hover {
    background-color: rgba(153, 136, 136, 0.7);
    color: white;
}

.most-popular-section {
    text-align: center;
}

.most-popular-heading, .our-cakes-heading, .contact-us-heading, .custom-orders-heading {
    font-size: 2.5rem;
    padding-top: 2rem;
}

.most-popular-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 30px;
}

.most-popular-grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.most-popular-cake-image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.most-popular-cake-title {
    font-size: 1.5rem;
}

footer {
    background-color: rgb(65, 59, 60);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

footer a {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.icons {
    display: flex;
    gap: 20px;
    font-size: 1.3rem;
}

.left-footer {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    gap: 2rem;
}

.right-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 3rem;
    gap: 1rem;
}

.custom-enquiry-main-image {
background-image: url(https://images.unsplash.com/photo-1581745073351-e053d7d73694?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1691&q=80);
background-size: cover;
min-height: 1200px;
}

.custom-enquiry-overlay {
    background-color: rgba(0, 0, 0, 0.3);
    min-height: 1200px;
}

.our-cakes-section, .custom-orders-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-cakes-description, .custom-orders-description {
    font-size: 1.2rem;
    padding-bottom: 2rem;
    max-width: 40%;
    text-align: center;
}

.our-cakes-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    padding: 30px;
}

.our-cakes-grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-cakes-grid-image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.our-cakes-info{
    list-style-type: none;
    text-align: center;
}

.custom-enquiry-form-container {
    max-width: 50%;
    margin: 0 auto;
    padding: 20px;
    color: rgb(51, 51, 51);
    background-color: white;
    font-family: sans-serif;
    margin-bottom: 100px;
}

.custom-form-field {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-heading {
    font-size: 1.5rem;
    text-align: center;
    font-family: sans-serif;
    padding-bottom: 15px;
}

.pickupordeliveryoption {
    padding-bottom: 1rem;
}

.pickup-or-delivery-label {
    font-weight: bold;
}

.submit-button {
    background-color: rgba(153, 136, 136, 1);
    font-size: 1rem;
    color: white;
    padding: 19px 32px;
    border: none;
    cursor: pointer;
}

.submit-button-container {
    text-align: center;
}

.contact-main-image {
    background-image: url(https://images.unsplash.com/photo-1609968159000-92ebd2c71d22?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80);
    background-size: cover;
    min-height: 759px;
}

.contact-overlay {
    min-height: 759px;
}

.contact-us-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.get-in-touch-button {
    display: inline-block;
    background-color: rgba(153, 136, 136, 1);
    font-size: 1rem;
    color: white;
    padding: 19px 32px;
    border: none;
    cursor: pointer;
    font-family: Playfair Display;
  }

.form-container {
    display: none;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    color: rgba(51, 51, 51, 1);
    background-color: white;
    margin-bottom: 100px;
}
  
.form-title {
    font-size: 1rem;
    margin-bottom: 10px;
}

.form-field {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid lightgrey;
    background-color: rgba(250, 250, 250, 1);
}

textarea {
    font-family: sans-serif;
}
.form-field textarea {
    height: 150px;
}

.form-button {
    background-color: rgba(153, 136, 136, 1);
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 10px;
    cursor: pointer;
}
